

extends layout

block content
  h1 #{title}
  
  p Do you really want to delete this Topic?
  
  div(style='margin-left:20px;margin-top:20px')
    p #[strong ID:] #{topic._id}
  
    p #[strong Title:] 
      a(href=topic.url) #{topic.title}
    
    p #[strong Description:] #{topic.description}
    
    form(method='POST' action='')
      div.form-group
        input#topicid.form-control(type='hidden',name='topicid', required='true', value=topic._id )

      button.btn.btn-primary(type='submit') Delete